/* SDG-ODD */
.info-bar
{
	background-color: #56bfd8!important;
}

/* slick adjustment */
.slider img
{
	height: 50px; 
	max-width: 900px;
}
@media (min-width: 768px){
	.slider img
	{
		height: 40px;
		max-width: 800px;
	}
}
/* no bold for th */
.nobold{
	font-weight:normal;
}

/* dl (definitions list) in tables */
@media (min-width: 768px){
	.dl-horizontal dt {
		width: 90px!important;
	}
}
@media (min-width: 768px){
	.dl-horizontal dd {
		margin-left: 90px!important;
	}
}

table.table-fixed caption { background-color:#FFFFFF; }