/* Sticky header */
.fixed
{
	top:0;
	position:fixed;
	width:auto;
	display:none;
	border:none;
}
@media (max-width: 800px) {
   .fixed
   {
	   	position:relative!important;
	}
}

.table-fixed
{
	margin-left:-15px;
}
caption.bg-grey
{
	background-color: #f9f9f9!important;
}
.table-fixed, .table-fixed>thead>tr>td, .table-fixed>thead>tr>th
{
	z-index: 1;
}